body{
    margin: 0px;
    padding: 0px;
}

.Main_area .container .left_side{
  background-color: aqua;
  opacity: 0.9;
}



.Main_area .container .row .rigside p{
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.747);
    font-size: 30px;
}

.Main_area .container .row .rigside .text ul li{
    list-style: none;

}

.Main_area .container .row .rigside .text ul li a{
   text-decoration: none;

}

.Main_area .container .row .rigside .text ul li span {

    width: 15px;
    height: 12px;
    border-radius: 30%;
    background-color: aqua;
    color: white;
}



